#menu{
    height:86px;
    width:100%;
    background-color:rgb(34, 103, 17);
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
}
#subm{
    height:86px;
    width:100%;
    background-color:rgb(103, 17, 54);
    margin:auto;
    top:86px;
    left:0;
    position:absolute;
}
#image{
    width:100px;
    height:100px;
    background-color:aqua;
    position:absolute;
}