/* Estilos de Juan Pablo */
#menu{
    height:86px;
    width:100%;
    background-color:rgb(34, 103, 17);
    margin:auto;
    top:0;
    left:0;
    right:0;
    padding-top:20px;
}
#subm{
    height:86px;
    width:100%;
    background-color:rgb(103, 17, 54);
    margin:auto;
    top:86px;
    left:0;
    background-color:rgb(255, 255, 255);
    margin:auto;
    top:86px;
    left:0;
    padding-top:20px;
}
#options li{
    display: inline;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    font-size: 15px;
    cursor:pointer;
}
#buttons li{
    display: inline;
    padding-right: 2.0em;
    font-family: sans-serif;
    color:rgb(34, 103, 17);
    font-size: 27px;
    cursor:pointer;
}
#image{
    width:100%;
    height:578px;
    top:172px;
    left:0;
    display:flex;
    overflow:hidden;
    background-color:#F2F2F2;
}
#cont-img{
    margin-left:400px;
}
img{
    width:100%;
    height:135%;
    margin:auto;
}
#button-home1{
    width:14%;
    height:10%;
    background-color:rgb(34, 103, 17);
    color:white;
    font-family: sans-serif;
    text-align: center;
    border-top-left-radius:24px;
    border-bottom-right-radius:24px;
    position:absolute;
    top:660px;
    left:70px;
}
#flecha{
    width: 6%;
    height: 10%;
    background-color: rgb(34, 103, 17);
    color: white;
    position:absolute;
    top:660px;
    left:300px;
    border-top-left-radius:24px;
    border-bottom-right-radius:24px;
}
h3{
    padding-top: 3px;
}

/* Estilos de yuli */

#contenedor11{
    color: #056323;
    text-align: center;
    font-size: 150%;
    
}



#contenedor22{
    width: 90%;
    height: 400px;
    display: grid;
    grid-template-columns: 34% 34% 34%;
    margin: auto;
    left:0;
    right:0;
}

.card1{
    width: 95%;
    height: 390px;
    border: 2px solid black;
}

.img-servicios{
    width: 100%;
    height: 390px;
}

.card2{
    width: 95%;
    height: 390px;
    border: 2px solid black
}

.card2 p {
    padding: 15px;
    font-family:sans-serif;
    color: #056323;
    font-size: 20px;
}

.card2 p:first-child {
    padding: 15px;
    font-family: fantasy;
    color: #056323;
    
}

.card2 p :last-child {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #145d2a;
    
}

/* Estilo para el botón */
.btn-leer-mas {
    padding: 10px 23px;
    background-color: rgb(0, 128, 0); /* Un color verde atractivo */
    color: rgb(247, 243, 243);
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-left-radius:10px;
    margin-top: 20%;      /* Empuja el botón hacia abajo */
    margin-left: 30px;     /* Alineación con el texto */
 
}

.btn-leer-mas:hover {
    background-color: rgb(0, 168, 0); /* Color más claro al pasar el mouse */
}


.card3{
    width: 95%;
    height: 390px;
    border: 2px solid black;
}

/* Estilos de Samuel */
#contenedor{
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 40px;
}
.base{
    height: 100%;
}
.head{
    width: 100%;
    height: 40%;
    background-color: rgb(0, 133, 0);
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.liston{
    display: flex;
    flex-direction: column;
}
#hot{
    background-color: rgb(0, 85, 0);
    text-align: right;
    padding: 6px 15px;
    font-size: 12px;
    font-weight: bold;
    clip-path: polygon(0% 0%, 40% 0%, 100% 60%, 100% 100%);
    margin-left: auto;
    width: 60px;
    height: 70px;
    margin-bottom: -80px;
}
#rotar-text{
    transform: rotate(45deg);
    color: white;
}
.body{
    width: 100%;
    height: 60%;
    background-color: rgb(218, 218, 218);
    color: green;
    text-align: center;
}
.bottom{
    width: 38%;
    height: 15%;
    background-color: rgb(0, 85, 0);
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom:hover{
    transform: scale(1.1);
    background-color: rgb(0, 128, 0);
    transition: 80ms;
    cursor: pointer;
}
