
#menu{
    height:86px;
    width:100%;
    background-color:rgb(34, 103, 17);
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
}
#subm{
    height:86px;
    width:100%;
    background-color:rgb(103, 17, 54);
    margin:auto;
    top:86px;
    left:0;
    position:absolute;
}
#image{
    width:100%;
    height:578px;
    position:absolute;
    margin:auto;
    top:172px;
    left:0;
    display:flex;
}
img{
    width:90%;
    height:100%;
    margin:auto;
    right:100px;}
#contenedor11{
    color: rgb(25, 26, 27);
    text-align: center;
}

#contenedor22{
    width: 25%;
    height: 50%;
    
    position: absolute;
    left: 7%;
    right: 20px;
    top: 30%;
    bottom: 50%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border: 10px solid black;    
}

#contenedor33{
    width: 25%;
    height: 50%;
    background-color: black;
    position: absolute;
    left: 590px;
    right: 30%;
    top: 30%;
    bottom: 50%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border: 10px;
}

#contenedor44{
    width: 25%;
    height: 50%;
    background-color: red;
    position: absolute;
    left: 70%;
    right: 500px;
    top: 30%;
    bottom: 50%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border: 10px;
}
#contenedor11{

    color: rgb(24, 81, 146);
    text-align: center;
}

#contenedor2{
    width: 100px;
    height: 10%;
    background-color: blue;
    border-radius: 100px;
}

#contenedor3{
    width: 10px;
    height: 100%;
    background-color: black;
    border-radius: 100px
}
#contenedor{
    width: 70%;
    height: 55%;
    position: absolute; 
    left: 280px;
    right: 280px;
    top: 140px;
    bottom: -70px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 40px;
}
.base{
    height: 100%;
}
.head{
    width: 100%;
    height: 40%;
    background-color: rgb(0, 133, 0);
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.body{
    width: 100%;
    height: 60%;
    background-color: rgb(218, 218, 218);
    color: green;
    text-align: center;
}
.bottom{
    width: 35%;
    height: 15%;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    font-family: sans-serif;
}
